#hero{
    background-image: url('burger chees.jpeg' );
    width: 50%;
    height: 500px;

    background-size: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(254, 254, 252);
    padding-top: 100px;
    font-size: 96px;
    font-weight: 600;
    font-style: oblique;
    text-shadow: 0ch;
    /* text-decoration-color: rgb(183, 47, 47); */
    box-shadow: 5px 5px 5px rgb(131, 41, 11);
}

body{
    margin: 0px;
    padding: 0px;
}
#res{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;

}
#res div{
    margin: 20px;
    font-size: 24px;
    border: 1px solid silver;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    box-shadow: 5px 5px 5px silver;
}
#footer{
    background-color: rgb(194, 210, 177);
    border: 70px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}